.certificates-container {
  padding: 20px;
}

.certificate-card {
  position: relative;
  overflow: hidden;
}

.certificate-image {
  width: 100%;
  height: auto;
  transition: transform 0.3s ease;
}

.certificate-card:hover .certificate-image {
  transform: scale(1.2);
}
